*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
}

.insertbox{
    margin: auto;
    width: 400px;
    padding: 20px;
}

.mainbox{
    max-width: 1000px;
    margin: auto; 
    text-align: center;
}

#todo{

    width: 400px;
    padding: 10px;
    margin: auto;
}

#todo li{
    margin: 5px 0px;
}
