*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
}

.insertBox
{
    margin: auto;
    width: 400px;
}


.main{
    max-width : 1000px;
    width: 100%;
    padding: 20px;
    margin: auto;
}

#todo{
    width: 400px;
    padding: 10px;
    margin: auto;
}

#todo li{
    margin: 5px 0px;
}