* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


/* ********************************* Theme *************************** */
/* .main {
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid black;
    color: aqua;
    background-color: blue;
}

.theme {
    background-color: rgb(88, 6, 6);
    color: rgb(35, 12, 170);
    border: 1px solid red;
} */



/* ******************************** Slider*********************** */



body {
    height: 100%;
}

#slider {
    width: 100%;
    /* height: 100vh; */
    background-color: aqua;

}

.main {
    width: 300%;
    height: 60vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 200px;
    transition: 0.5s; 
}

.one {
    width: 100%;
    height: 200px;
    background-color: yellow;
}

.two {
    width: 100%;
    height: 200px;
    background-color: blue;
} 

.three {
    width: 100%;
    height: 200px;
    background-color: blueviolet;
}



 /*
.btns {
    position: absolute;
    bottom: 50px;
    width: 200px;
     background-color: black; 
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns label {
    display: block;
    width: 50px;
    height: 3px;
    background-color: cyan;
    cursor: pointer;
    transition: 0.3s all;
}

.btns label:hover {
    transform: scale(1.5);
    padding: 10px 0px;
}

input[type="radio"] {
    display: none;
}

/* ================================= */
/* 
#one:checked~#slider .main .one {
    margin-left: 0;
}

#two:checked~#slider .main .one {
    margin-left: -66.66%;
} 


#three:checked~#slider .main .one {
    width: 33.33%;
    margin-left: -133.33%;
} */